{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-4">Exam registration</h1>
    <br>
    <!-- The filter form for subjects -->
    <form class="form-inline" action="{% url 'main:homepage' %}">
        <label class="sr-only" for="sub_name">Name</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="sub_name" placeholder="Search here" name="name">
        
        <label class="my-1 ml-4 mr-2" for="Dept">Department</label>
        <select class="custom-select my-1 mr-sm-2" id="Dept" name="dept">
            <option value="CSE" selected>CSE</option>
            <option value="IT">IT</option>
            <option value="Mech">Mech</option>
        </select>
        
        <label class="my-1 ml-4 mr-2" for="Sem">Semester</label>
        <select class="custom-select my-1 mr-sm-2" id="Sem" name="sem">
            <option value="0" selected>All</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>

        <button type="submit" class="btn btn-primary mb-2">Apply Filter</button>
        <button type="submit" class="btn btn-danger ml-2 mb-2">Reset Filter</button>
    </form>
    
    {% if subjects.count == 0 %} <!-- Start subject count -->
    <strong>No subjects selected. Please generalize the filter.</strong>
    {% else %}
    
    <p><small> Applied filters :</small> <span class="badge badge-secondary" title="Department: {{dept}}">{{dept}}</span> 
    {% if sem %} <span class="badge badge-secondary" title="Semester: {{sem}}">Sem: {{sem}}</span> {% endif %}
    {% if search %} <span class="badge badge-secondary" title="Search tag: {{sem}}">Searched: '{{search}}'</span> {% endif %} </p>

    {% for semester in sem_list %}
        {% if semester %}
        <table class="mt-3 table table-hover">
            <thead class='thead-dark'>
                <tr>
                    <th> Sl.no </th>
                    <th> Subject Code </th>
                    <th> Subject Name </th>
                    <th> Department </th>
                    <th> Semester </th>
                </tr>
            </thead>
            <tbody>

                {% for subject in semester %}
                <tr>
                    <td> {{forloop.counter}} </td>
                    <td> {{subject.Sub_code}} </td>
                    <td> {{subject.Name}} </td>
                    <td> {{subject.Department}} </td>
                    <td> {{subject.Semester}} </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
        {% endif %}
    {% endfor %}

    {% endif %} <!-- End subject count -->
</div>

{% endblock %}