{% extends 'base.html' %}

{% block content %} 
<div class="container" id="login-page">
    <h1>Login</h1>
    <br>
    <form action="{% url 'main:log_in' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Register number</label>
            <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter Username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            <small id="passHelp" class="form-text text-muted">Enter your DOB in ddmmYYYY format as password.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>  
{% endblock %}