{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div class="row mt-3">
        <div class="col-sm-3 mb-3">Register No.</div>
        <div class="col-sm-9 mb-3">{{user.username}}</div>
        <div class="col-sm-3 mb-3">Email</div>
        <div class="col-sm-9 mb-3">{{user.email}}</div>
        <div class="col-sm-3 mb-3">Date of Birth</div>
        <div class="col-sm-9 mb-3">{{student.DOB |date:"d M Y"}}</div>
        {% if student.Gender %}
            <div class="col-sm-3 mb-3">Gender</div>
            <div class="col-sm-9 mb-3">{{student.Gender}}</div>
        {% endif %}
        <div class="col-sm-3 mb-3">Department</div>
        <div class="col-sm-9 mb-3">{{student.Department}}</div>
        <div class="col-sm-3 mb-3">Semester</div>
        <div class="col-sm-9 mb-3">{{student.Semester}}</div>
        <div class="col-sm-12">
            {% if registrations %}
            <h2 class="mb-3">Registrations</h2>
            {% endif %}
            <div id="accordion">
                {% for register in registrations reversed %}
                <div class="card">
                    <div class="card-header" id="heading{{register.pk}}">
                        <h5 class="mb-0">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapse{{register.pk}}" aria-expanded="false" aria-controls="collapse{{register.pk}}">
                            Registration {{register.RegDate |date:"d/m/Y"}} 
                        </button>
                        {% if register.Payed is True %}
                            <span class="float-right badge badge-success mr-2">Payed</span>
                            {% else %}
                            <a href="{% url 'main:delete_regn' register.pk %}" class="float-right btn btn-danger mr-2">Delete</a>
                            <span class="float-right badge badge-danger mr-2">Not Payed</span>
                            {% endif %}
                        </h5>
                    </div>
                
                    <div id="collapse{{register.pk}}" class="collapse" aria-labelledby="heading{{register.pk}}" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead class='thead-dark'>
                                    <tr>
                                        <th> Sl.no </th>
                                        <th> Subject Code </th>
                                        <th> Subject Name </th>
                                        <th> Semester </th>
                                        <th> Date of Exam </th>
                                        <th> Fee </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for subject in register.Subjects.all %}
                
                                    <tr>
                                        <td> {{forloop.counter}} </td>
                                        <td> {{subject.Sub_code}} </td>
                                        <td> {{subject.Name}} </td>
                                        <td> {{subject.Semester}} </td>
                                        <td> {{subject.DateofExam |date:"D, d M Y"}} </td>
                                        <td> &#8377;{{subject.Fee}} </td>
                                    </tr>
                    
                                    {% endfor %}
                                    <tr>
                                        <td> &nbsp; </td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Total Fee:</td>
                                        <td> &#8377;{{register.TotalFee}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if not register.Payed %}
                            <a href="{% url 'main:summary' register.pk %}" class="btn btn-primary">Make payment</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>



            
        </div>
    </div>
</div>
{% endblock %}